node_modules
artifacts
cache
gasreport-*
generated
.env
*.DS_Store
build
forge-cache
out
deployments/**/.pendingSafeTransactions
deployments/localhostnode_modules/
out/
cache/
artifacts/
.env
.env.*
!.env.example
broadcast/**/dry-run/
generated/
